.nav {
    margin-bottom: 26px;
    background: #ffffff;
    border-bottom: 2px solid #ebedef;
}

.nav__list {
    text-align: justify;
    font-size: 0;
    line-height: 0;
    letter-spacing: -1px;

    &:after{
        content: '';
        height: 0;
        width: 100%;
        @include inlineblock();
        visibility: hidden;
    }
}

.nav__item {
    @include inlineblock();

    &_active{
        .nav__link{
            background: $orange;
            color: #ffffff;
        }
    }
}

.nav__link {
    padding: 17px 23px;
    @include inlineblock();
    font-size: 16px;
    line-height: 18px;
    color: $black;
    text-decoration: none;

    &:hover{
        background: #e4e2e2;
        color: $black;
    }
}