@import "compass";

$misc-sprite: sprite-map('misc/*.png', $spacing: 70px, $layout: horizontal);

/* colors */

$black: #333333;
$orange: #ff6600;
$grey: #dee1e4;

/* --------- normalize --------- */

@import "_misc/normalize";

/* --------- adjustment --------- */

@import "_misc/adjustment";

/* --------- mixins --------- */

@import "_misc/mixins";

/* fonts */

@import "_misc/fonts";

/* plugins */

@import "_plugins/**/*";

/* widgets */

@import "_widgets/**/*";

/* sections */

@import "_sections/**/*";


