footer.footer
    .footer__top
        .container
            .footer__left
                .logo.logo_footer
                    img(src="./img/logo_wt.png" alt="Cooltech").logo__img
                    .logo__text Cooltech
            .footer__right
                ul.socials.socials__footer
                    -var items = ['fb', 'vk', 'tw']
                    each item in items
                        li(class="socials__item socials__item_" + item)
                            a(href="#").socials__link
                ul.footer__nav
                    -var items = ['Планшеты', 'Мобильные телефоны', 'Mp3 плееры', 'Персональные компьютеры', 'Ноутбуки', 'Аксессуары', 'Бытовая техника']
                    each item in items
                        li.footer__nav-item
                            a(href="#").footer__nav-link= item
    .footer__bottom
        .container
            .footer__copyright All rights reserved. 2015. no copy alowed